# Database
DATABASE_URL="postgresql://user:password@localhost:5432/batgame?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# LINE Login
LINE_CHANNEL_ID=""
LINE_CHANNEL_SECRET=""

# LINE Notify (optional)
LINE_NOTIFY_TOKEN=""
